{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-sm border-0 p-4" style="background-color: #FFFFFF; border-radius: 16px;">
            <h3 class="text-center fw-bold mb-3">Secure Gate Access</h3>
            <form method="POST">
                <div class="mb-3"><label class="form-label fw-semibold">Username</label><input type="text" name="username" class="form-control" required></div>
                <div class="mb-3"><label class="form-label fw-semibold">Password</label><input type="password" name="password" class="form-control" required></div>
                <button type="submit" class="btn bg-creston-dark text-white w-100 py-2 fw-bold mt-2 shadow-sm" style="border-radius: 10px;">Verify Credentials</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
